#joplin-plugin-content {
    min-width: 400px;
    font-size: 10pt;
    font-family: Roboto;
}

input[type="text"] {
    width: 380px;
    display: inline-block;
    box-sizing: border-box;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border: 1px solid rgba(136, 136, 136, 0.3);
    padding: 4px 6px;
    border-radius: 3px;
}

td {
    vertical-align: top;
}